
.menu {
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #0000009d;
    border: 2px solid #6c1d1c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.hidden {
    display: none;
}


.menu button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6c1d1c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #4b0e0e;
}



#statusPanel {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.menu-toggle {
    position: fixed;
    top: 20px;
    right: 120px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6c1d1c; 
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle:hover {
    background-color: #4b0e0e;
}


.menu-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}


.icon {
    width: 24px;
    height: auto;
}